<h2>My Myths</h2>
<div>
  <label for="new-myth">Myth name: </label>
  <input id="new-myth" #mythName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(mythName.value); mythName.value=''">
    Add myth
  </button>
</div>
<ul class="myths">
  <li *ngFor="let myth of myths">
    <a routerLink="/detail/{{myth.id}}">
      <span class="badge">{{myth.id}}</span> {{myth.name}}
    </a>
    <button type="button" class="delete" title="delete myth"
      (click)="delete(myth)">x
    </button>
  </li>
</ul>